body{
    background-image: url("../images/index.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Arial';
    
}