body,html{
    overflow-x: hidden;
    height: 100%;
    font-family: 'Arial';
}

/* index and login */
.bg{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.index nav{
    position: relative;
    padding: 20px;
}
.index nav a{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    text-shadow: 0px 0px 5px #D9D9D9;
}


/* login in index*/
.index .container{
    margin-top: 100px;
    margin-left: 50px;
}
.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #D9D9D9;
    padding: 10px;
    text-align: center;
}
.brand_logo_container img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100%;
    background: #800000 !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_btn:hover {
    background: #CC3D3D !important;
    color: white !important;
    transition: .5s;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #800000 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #800000 !important;
}
.links a{
    font-style: italic;
}

/*register*/
#register{
    text-align: center;
    background: -webkit-linear-gradient(left, #800000, #383d41);
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 2%;
}
.register-left img{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.register-left h3{
    font-weight: bold;
    margin-top: 5%;
    
}
.register-left p{
    font-weight: lighter;
    margin-top: 5%;
    font-size: 20px;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 30%;
    background: #f8f9fa;
    font-weight: bold;
    color: black;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f5f5f5;
    margin-top: 2%;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    text-align: center;
}
.register-heading{
    margin-top: 4%;
    color: black;
    font-weight: bold;
}
.register-right form{
    padding-top: 4%;
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
    position: relative;
    display:grid;
   
}
.error{
    margin-bottom: 2%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #800000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.btnRegister:hover{
    background: #CC3D3D;
    color: #fff;
    transition: .5s;
}
/* Buttons */

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


/* for header */
.header{
    height: 110px;
}
.align-baseline{
    height:85px;
    font-size: 50px; 
    padding-top:30px; 
    padding-left:24px; 
    font-weight: bold;
}
hr{
    height:10px; 
    background-color:#800000; 
    border-width:0;
}

/* ------------ STUDENT PAGES ------------ */

/* for sidebar */
.sidebar{
    background-color: #800000;
    padding-top: 30px;
    width: 25%;
    height: 100%;
    position: fixed;
}
.sidebar .side-header{
    text-align: center;
}
.sidebar .menu{
    display: flexbox;
    padding-top: 30px;
    text-align: left;
}
.sidebar .menu .btn{
    font-size: 20px;
    display: inline-flex;
    text-align: justify;
    width: 100%;
    padding-left: 40px;
}
.menu_icon i{
    margin-top: 20%;
    width: 30px;
    color: white;
}
.menu_text{
    margin-left: 20px;
    color: white;
}
.sidebar .menu .btn:hover{
    background-color: #CC3D3D;
    color: black;
}
.logout{
    padding-top: 20%;
    padding-bottom: 10%;
    text-align: right;
}
.logout .btn{
    font-size: 20px;
    display: inline-flex;
    text-align: justify;
    width: 100%;
    padding-left: 40px;
}
.logout .btn:hover{
    background-color: #CC3D3D;
    color:black;
}
.logout .btn .menu_icon{
    width: 20px;
    margin-top: 0.5%;
}
.logout .btn .menu_text{
    margin-left: 10px;
}

/* for dashboard */
.dashboard{
    padding-top:15px; 
    padding-left:24px; 
    padding-right:24px; 
    font-weight:bold;
}
.dashboard .navbar .navbar-text{
    color: black;
    padding-top:15px; 
    font-size:30px; 
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color:#CC0000; 
    text-decoration-thickness:5px;
}
.navbar a{
    padding-left: 1%;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}
.dashboard .reservations{
    text-align:center;
    margin-bottom: 10px;
}
.dashboard .reservations .table-holder{
    background-color: #D9D9D9;
    padding: 10px;
}
.dashboard .reservations .table-holder .table-title{
    background-color:#952D2D; 
    color:white; 
    font-size:40px; 
    font-weight:bold;
}

.dashboard .reservations .table-holder .table-rsrv{
    padding:20px;
}
.table-holder table{
    background-color:white; 
    border: solid 2px black;      
}
table thead tr th{
    border-bottom: solid 2px black;
    text-align: center;
}
/* for rooms */
.student_rooms{
    padding-top:15px; 
    padding-left:24px; 
    padding-right:24px; 
    font-weight:bold;
}
.student_rooms .navbar .navbar-text{
    color: black;
    padding-top:15px; 
    font-size:30px; 
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color:#CC0000; 
    text-decoration-thickness:5px;
}
.student_rooms .date_time{
    align-items:center; 
    text-align:center;
}
.student_rooms .date_time .row{
    padding-left:44px;
    padding-right:44px;
}
.student_rooms .date_time .row .col-6{
    background-color: white;
}
.student_rooms .date_time .row .col-6 .calendar_title{
    width:100%; 
    background-color: #952D2D; 
    color: white; 
    font-size: 25px;
}
.student_rooms .date_time .row .col-5{
    background-color: white; 
    text-align:center;
}
.student_rooms .date_time .row .col-5 .time_title{
    background-color: #952D2D; 
    color: white; 
    font-size: 25px;
}
.student_rooms .date_time .row .col-5 .row{
    padding:5px;
}
.student_rooms .date_time .row .col-5 .row .col-6 button{
    font-size:16px;
    margin-bottom:5px; 
    cursor:pointer; 
    border-radius:10px; 
}
.student_rooms .accordion{
    padding:20px;
}
.student_rooms .accordion .accordion-item .accordion-collapse .accordion-body{
    text-align:center;
}

/* for equipment */
.student_equipment{
    padding-top:15px; 
    padding-left:24px; 
    padding-right:24px; 
    font-weight:bold;
}
.student_equipment .navbar .navbar-text{
    color: black;
    padding-top:15px; 
    font-size:30px; 
    font-weight:bold;
    text-decoration: underline;
    text-decoration-color:#CC0000; 
    text-decoration-thickness:5px;
}
.student_equipment .navbar input{
    font-size:20px;
    margin-top:10px;
    border-radius: 10px;
}
.student_equipment .d-flex{
    text-align:center;
}
.student_equipment .d-flex .card{
    width: 15rem;
}

/* logs & accounts*/

.logs-table{
    padding-top: 15px;
    padding-left:24px; 
    padding-right:24px; 
    font-weight:bold;
    text-align:center;
    margin-bottom: 10px;
}

.table-dark th:hover{

    cursor: pointer;
}
/* accordion */
.accordion:after {
    content: "<?php echo $room_status ?>";
}

.sidebar2{
    display: none;
}

.submitReg:hover{
    background-color: #adaaaa;
    transition: .75s;
}

.statusAvailable{
    background-color:green;
    color:white;
    padding:2px;
    border-radius:5px;
    font-weight: bold;
    margin-left: 1rem;
    

}
.statusUnavailable{
    background-color:rgb(150, 32, 32);
    color:white;
    padding:2px;
    border-radius:5px;
    font-weight: bold;
    margin-left: 1rem;
    

}
.statusReserved{
    background-color: #e97f1c;
    color:white;
    padding:2px;
    border-radius:5px;
    font-weight: bold;
    margin-left: 1rem;
    
}